In [18]:
import pandas as pd
import numpy as np

In [28]:
bim_file = pd.read_csv('/CIMA/genetics/qc/10.maf01.bim',sep="\t",header=None)

In [29]:
bim_file

          0               1  2         3  4   5
0         1     chr1_266093  0    266093  G   C
1         1     chr1_266225  0    266225  A   C
2         1     chr1_280087  0    280087  G   A
3         1     chr1_280485  0    280485  C  CT
4         1     chr1_285386  0    285386  G   T
...      ..             ... ..       ... ..  ..
5051392  22  chr22_50797551  0  50797551  A   G
5051393  22  chr22_50798635  0  50798635  C   T
5051394  22  chr22_50802392  0  50802392  T   C
5051395  22  chr22_50803843  0  50803843  G   C
5051396  22  chr22_50807702  0  50807702  G   A

[5051397 rows x 6 columns]

In [ ]:
lead_snp1 = pd.read_csv('/CIMA/Result/20250108_cis_eQTL_studywise_sig.csv',index_col=0)
lead_snp1 = lead_snp1['variant_id'].unique()

lead_snp2 = pd.read_csv('/CIMA/Result/20250108_cis_caQTL_studywise_sig.csv',index_col=0)
lead_snp2 = lead_snp2['variant_id'].unique()

lead_snp_all = np.concatenate([lead_snp1,lead_snp2])

In [33]:
bim_file = bim_file[bim_file[1].isin(lead_snp_all)]

In [34]:
# 按 "_" 分割，并取第一部分赋值给新列 "chr"
bim_file[6] = bim_file[1].str.split('_').str[0]

/tmp/ipykernel_2388833/2994479371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bim_file[6] = bim_file[1].str.split('_').str[0]

In [36]:
bim_file = bim_file[[6,3,3,5,4]]

In [42]:
bim_file.to_csv('/CIMA/Data/20250321_lead_qtl.avinput',header=None,sep=" ",index=None)