In [2]:
import pandas as pd

In [3]:
trans_eQTL = pd.read_csv('/CIMA/Result/summary/20250110_trans_eQTL_fdr005.csv',index_col=0)

In [25]:
bim_file = pd.read_csv('/CIMA/genetics/qc/10.maf01.bim',index_col=0,sep = '\t',header=None)

In [26]:
bim_file

                 1  2         3  4   5
0
1      chr1_266093  0    266093  G   C
1      chr1_266225  0    266225  A   C
1      chr1_280087  0    280087  G   A
1      chr1_280485  0    280485  C  CT
1      chr1_285386  0    285386  G   T
..             ... ..       ... ..  ..
22  chr22_50797551  0  50797551  A   G
22  chr22_50798635  0  50798635  C   T
22  chr22_50802392  0  50802392  T   C
22  chr22_50803843  0  50803843  G   C
22  chr22_50807702  0  50807702  G   A

[5051397 rows x 5 columns]

In [27]:
bim_file = bim_file.iloc[:,[0,3,4]]

In [29]:
bim_file.columns = ['variant_id','A1(effect)','A2(REF])']

In [30]:
trans_eQTL = pd.merge(trans_eQTL,bim_file,on='variant_id')

In [32]:
trans_eQTL.to_csv('/CIMA/Result/summary/20250323_trans_eQTL_fdr005_withA1A2.csv')

In [9]:
len(trans_eQTL['celltype'].value_counts())

45

In [4]:
trans_eQTL['trans_eGene'].nunique()

84

In [8]:
trans_eQTL['variant_id'].value_counts()

variant_id
chr17_64066984    31
chr9_136620710    14
chr17_7304645     13
chr9_136619405    12
chr4_88523377     11
                  ..
chr8_23443827      1
chr7_97980428      1
chr6_29548894      1
chr6_29520860      1
chr1_112704505     1
Name: count, Length: 129, dtype: int64

In [9]:
a1 = pd.read_csv('/CIMA/Result/summary/20250323_trans_eQTL_number_by_celltype.csv')

In [11]:
a1['cs_eGene_num'].sum()

58

In [18]:
trans_eQTL[trans_eQTL['phenotype_id'] == 'NR1D1']

,variant_id,phenotype_id,pval,b,b_se,af,variant_chr,phenotype_chr,celltype,pair,padj,variant_celltype,cis_eGene,trans_eGene
56,chr2_100809622,NR1D1,2.686284e-20,0.559849,0.057104,0.383005,2,17,CD4_Tn_CCR7,chr2_100809622_NR1D1,3.034259e-13,chr2_100809622_CD4_Tn_CCR7,NPAS2,NR1D1